*{
	box-sizing: border-box;
}

header{
	font-size: 100%;
	float: right;
	text-align: right;
	display: inline;
	background-color: yellow;
	border: 5px solid black;
	
	
	}

h1{
	text-align:center;
	
}



@media(min-width: 992px)
 {

section.sec-1{
	background-color: #94FCEA;
	border: 5px solid black;
	width: 30%;
	height: 50%;
	margin: 0px 40px 40px 40px;
	padding: 10px 10px 10px 5px;
	float: right;


	
	
}

section.sec-2{
	background-color: #94FCEA;
	border: 5px solid black;
	width: 30%;
	height: 50%;
	/*margin: 0px 50px 50px 50px;*/
	margin: 0px 0px 0px 90px;
	padding: 10px 10px 0px 5px;
	float: right;
}


section.sec-3{
	background-color: #94FCEA;
	border: 5px solid black;
	width: 30%;
	height: 50%;
	/*margin: 0px 50px 50px 50px;*/
	margin: 0px 0px 0px 20px;
	padding: 10px 10px 10px 5px;
	float: top;
}

}


@media(min-width: 768px) and (max-width: 991px)
{
	section.sec-1{
	background-color: #94FCEA;
	border: 5px solid black;
	width: 40%;
	height: 50%;
	margin: 0px 40px 40px 40px;
	padding: 10px 10px 10px 5px;
	float: right;
	
	}

	section.sec-2{
		background-color: #94FCEA;
		border: 5px solid black;
		width: 40%;
		height: 50%;
		/*margin: 0px 50px 50px 50px;*/
		
		margin: 0px 0px 40px 60px;
		padding: 10px 10px 0px 5px;
		float: top;
	}


	section.sec-3{
		background-color: #94FCEA;
		border: 5px solid black;
		width: 100%;
		/*margin: 0px 50px 50px 50px;*/
		margin: 0px 0px 0px 20px;
		padding: 10px 10px 10px 5px;
		clear: right;
	}
}

@media (max-width: 767px){
	section.sec-1{
	background-color: #94FCEA;
	border: 5px solid black;
	width: 100%;
	height: 50%;
	margin: 0px 40px 40px 20px;
	padding: 10px 10px 10px 5px;
	
	
	}

	section.sec-2{
		background-color: #94FCEA;
		border: 5px solid black;
		width: 100%;
		height: 50%;
		/*margin: 0px 50px 50px 50px;*/
		margin: 0px 40px 40px 20px;
		padding: 10px 10px 0px 5px;
		
	}


	section.sec-3{
		background-color: #94FCEA;
		border: 5px solid black;
		width: 100%;
		/*margin: 0px 50px 50px 50px;*/
		margin: 0px 40px 40px 20px;
		padding: 10px 10px 10px 5px;
		
	}
}

